/* Base overrides */
body {
  background-color: #FAF6F0;
  font-family: 'Mukta Mahee', sans-serif;
}

ul {
  list-style-type: none;
}

:root {
  --white-color: #FFF;
  --black-color: #000;
  --black-color-rgba: rgb(242, 242, 242, 0.5);
  --light-grey-color: #DBD5CF;
  --mid-grey-color: #818181;
  --dark-grey-color: #474747;

  /* orange */
  --primary-color: #F19A38;
  --dark-primary-color: #F16E36;
  --dark-primary-rgba: rgba(241, 110, 54, 0.25);
  --primary-bg-color: #FFE6CC;

}

/* Generic */
.link:hover {
  color: var(--primary-color) !important;
  text-decoration: none;
}

.subtitle {
  color: var(--mid-grey-color);
}

.card-generic {
  background-color: var(--primary-bg-color);
  border-radius: .25rem;
  border: 1px solid var(--dark-primary-rgba);
}

.item-description {
  background-color: var(--white-color);
  border-top: 1px solid var(--light-grey-color);
  padding: 1rem 1.5rem;
}

.item-date {
  color: var(--mid-grey-color);
}

.item-title {
  color: var(--dark-grey-color);
  font-weight: 500;
}

.img-item {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  object-fit: cover;
  object-position: center;
}

.img-default-item {
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
  display: block;
  margin: 0 auto;
  padding-bottom: 0.5rem;
}


/* Nav bar */
.navigation-bar {
  background-color: var(--white-color);
  box-shadow: 0px 0px 3px 0px var(--light-grey-color);
  border-bottom: 1px solid var(--light-grey-color);
}

.nav-logo {
  height: 35px;
}

.navbar-item {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.navbar-item > a  {
  color: var(--mid-grey-color) !important;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.navbar-button {
  border: 1px solid var(--light-grey-color);
  color: var(--mid-grey-color);
  font-size: 0.7rem;
  letter-spacing: 1px;
  padding: 8px 18px;
}


/* Updates bar */
.updates-icon {
  height: 90px;
}

.upcoming-items {
  border: 1px solid var(--light-grey-color);
  border-radius: 2px;
}

.upcoming-items > div:nth-child(2) {
  background: linear-gradient(65deg, var(--white-color) 0% 49%, var(--light-grey-color) 50%, transparent 50%);
}

.upcoming-items > .separator {
  background: linear-gradient(65deg, transparent 0% 49%, var(--light-grey-color) 50%, transparent 50%);
}


/* Baked goods grid */
.file-upload {
  background-color: transparent;
  border: none !important;
}

.file-upload:hover {
  background-color: transparent;
}

.grid-item-date {
  font-size: 0.8rem;
}

.grid-block .img-item {
  width: 100%;
  height: 200px;
}

.grid-block .img-default-item {
  max-width: 100%;
  max-height: 200px;
}


/* Create page */
#create-new-form {
  align-items: center;
  margin: 0 auto;
  padding: 0 1.5rem;
}

.form-control.is-valid {
  border-color: var(--dark-primary-color);
}

input[type=date]::-webkit-inner-spin-button {
  display: none;
}

.create-new-item > button {
  background-color: var(--primary-color);
  color: var(--white-color);
  display: block;
  margin-top: 32px;
}

#slot-description {
  display: block;
}


/* Displaying Edit button to upload / update items images when hovering */

.upload-btn-wrapper {
  display: none;
}

.grid-item:hover .upload-btn-wrapper {
  display: block;
  margin: 10px;
  position: absolute;
}

.grid-item:hover {
  display: inline-block;
}

.edit-img-btn {
  border: 2px solid var(--primary-color);
  color: var(--mid-grey-color);
  background-color: var(--white-color);
  padding: 5px 10px;
  border-radius: 8px;
  font-size: 15px;
  font-weight: bold;
}

.upload-btn-wrapper input[type=file] {
  font-size: 100px;
  position: absolute;
  left: 0;
  top: 0;
  opacity: 0;
}


/* Index page grid */
.form-grid-buttons {
  display: none;
  max-width: 90%;
  position: absolute;
  padding: 1rem 1rem 0 1rem;
}

.grid-img-container:hover .form-grid-buttons {
  display: inline-block;
  position: absolute;
  padding: 1rem 1rem 0 1rem;
}

.input-file {
  z-index: -1;
  overflow: hidden;
  position: absolute;
  width: 0.01rem;
  height: 0.01rem;
  opacity: 0;
}

.image-update-button {
  display: none;
  margin-top: 0.5rem;
}

.has_inline_data {
  display: inline-block;
}

.image-input-name {
  background-color: var(--black-color-rgba);
  color: var(--black-color);
  overflow-wrap: break-word;
}

.image-update-button,
.image-edit-button {
  opacity: 0.8;
}

.image-edit-button {
  margin-right: 0.5rem;
}

.form-control.is-valid:focus {
 border-color: var(--dark-primary-color);
 box-shadow: 0 0 0 0.2rem var(--dark-primary-rgba);
}



/* Stolen from https://stackoverflow.com/questions/15530850/method-to-show-native-datepicker-in-chrome */
input[type="date"] {
    position: relative;
}

/* make the native arrow invisible and stretch it over the whole field so you can click anywhere in the input field to trigger the native datepicker*/
input[type="date"]::-webkit-calendar-picker-indicator {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: auto;
    height: auto;
    color: transparent;
    background: transparent;
}

/* adjust increase/decrease button */
input[type="date"]::-webkit-inner-spin-button {
    z-index: 1;
}

 /* adjust clear button */
 input[type="date"]::-webkit-clear-button {
     z-index: 1;
 }
