{% extends "baking_rotation/base.jinja" %}

{% block content %}

<div class="card-generic">
  <div>
    <div class="row py-4">
      <div class="col-sm-12">
          <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="row">
              {% for field in form %}
              <div class="form-group col-6">
                  <span class="text-danger">{{ field.errors }}</span>
                  <label class="control-label col-2">
                    {{ field.label_tag }}
                    {{ field }}
                  </label>
                </div>

              {% endfor %}
            </div>
            <div class="col-sm-12 create-new-item">
              <button type="submit" value="OK" class="btn">Submit</button>
            </div>

          </form>

      </div>
    </div>
    <div>

    </div>
  </div>

</div>

{% endblock %}
