{% extends "baking_rotation/base.jinja" %}

{% block content %}

<div class="card-generic">
  <form id="create-new-form" action="{% url 'create' %}" method="POST">
    {% csrf_token %}
    <div>
      <div class="row py-4">
        <div class="col-sm-5">
          <label for="item-name">Watcha makin'</label>
          <input id="item-name" name="item" type="text" class="form-control"
            value="{% if errors.date %} {{ item }} {% endif %}">
        </div>
        <div class="col-sm-5">
          <label for="slot-date">When ya makin' it</label>
          <input
            id="slot-date"
            name="date"
            type="date"
            class="form-control {% if errors %} is-invalid {% else %} is-valid {% endif %}"
          >
          {% if errors.date %}
            <div class="invalid-feedback">{{ errors.date }}</div>
          {% endif %}
        </div>
      </div>
      <div class="row py-4">
        <div class="col-sm-6">
          <label for="slot-description">Tell us what's inside</label>
          <textarea
            id="slot-description"
            name="description"
            type="text"
          ></textarea>
        </div>
      </div>
      <div>
        <div class="col-sm-12 createNewItem">
          <button type="submit" value="OK" class="btn">Submit</button>
        </div>
      </div>
    </div>
  </form>
</div>

{% endblock %}
