{% extends "baking_rotation/base.jinja" %}
{% load static %}

{% block content %}
  <div class="row my-3 border upcoming-items">
    <div class="col-5 upcoming-items_title">
      <img src="{% static 'baking_rotation/images/platterguy.png' %}" class="platter_img" />
      <span>Hey good lookin' whatcha got cookin'</span>
    </div>
    <div class="col-1 py-3 line-separator"></div>
    <div class="col-5 py-3">
      <img />
      <div>{{ upcoming.item }}</div>
      <div>{{ upcoming.timeuntil }}</div>
    </div>
  </div>
  <div class="row index-page-grid">
    <div class="col-12">
      <h3 class="subtitle text-center">Delicious Baked Good You Already Had!</h3>
    </div>
      {% include 'baking_rotation/item_grid.jinja' %}
    </div>
  </div>
{% endblock %}
