{% extends "base.jinja" %}

{% block content %}

<div class="row">
  <div class="text-center mx-auto p-4 border rounded bg-light">
    {% if form.errors %}
    <p class="text-danger">Your username and password didn't match. Please try again.</p>
    {% endif %}

    <h4 class="my-3">Please login to see this page.</h4>

    <form method="post" action="{% url 'login' %}">
      {% csrf_token %}
      <table class="mx-auto my-4">
        <tr>
            <td class="pr-2">{{ form.username.label_tag }}</td>
            <td>{{ form.username }}</td>
        </tr>
        <tr>
            <td class="pr-2">{{ form.password.label_tag }}</td>
            <td>{{ form.password }}</td>
        </tr>
      </table>

      <div>
        <button class="btn btn-info" type="submit" value="login">
          Submit
        </button>
        <input type="hidden" name="next" value="{{ next }}">
      </div>

    </form>

    {# Assumes you setup the password_reset view in your URLconf #}
    <p><a href="{% url 'password_reset' %}">Lost password?</a></p>
  </div>
</div>

{% endblock %}
