body {
  background-color: #faf6f0;
}

.navigationBar {
  background-color: white;
}

.title {
  color: black;
}

.toast_img {
  height: 35px;
}

ul.item-list {
  list-style-type: none;
}

.file-upload {
    background-color: transparent;
    border: none !important;
}

.file-upload:hover {
    background-color: transparent;
}

.header-menu {
  margin-top: auto;
  margin-bottom: auto;
}

.menu-links > a  {
  color: #818181 !important;
  font-size: 0.8rem;
  font-weight: 600;
  letter-spacing: 1px;
}

.menu-button {
  color: #84909d;
  font-size: 0.7rem;
  letter-spacing: 1px;
}

.header-menu>.item-list {
  margin-bottom: 0px;
}

.header-menu>.item-list>li {
  display: inline-block;
  padding-right: 5px;
  padding-left: 5px;
}

.grid-item {
  height: 100%;
}

.grid-item > .img-item {
  max-width: 100%;
  height: auto;
}

.baker-name {
  font-size: 0.75rem;
  color: #6c757d;
}
