body {
  margin: 3rem;
  padding: 2rem;
}

ul.item-list {
  list-style-type: none;
}

.file-upload {
    background-color: transparent;
    border: none !important;
}

.file-upload:hover {
    background-color: transparent;
}
