{% load static %}
<!-- <!DOCTYPE html> -->

<head>
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.2/css/bootstrap.min.css" integrity="sha384-Smlep5jCw/wG7hdkwQ/Z5nLIefveQRIY9nfy6xoR1uRYBtpZgI6339F5dgvm/e9B" crossorigin="anonymous">
  <link rel="stylesheet" type="text/css" href="{% static 'baking_rotation/style.css' %}" />
  <link href="https://fonts.googleapis.com/css?family=Mukta+Mahee" rel="stylesheet">
</head>
<body>
  <header>
    <div class="navigationBar">
      <div class="container">
        <div class="row py-4">
          <div class="col-4">
            <img src="{% static 'baking_rotation/images/breadguy.png' %}" class="toast_img" />
            <a class="title h6 ml-1" href="/">Baking Rotation</a>
          </div>
          <div class="header-menu col-6">
            <ul class="item-list">
              <li class="menu-links"><a href="/upcoming">Upcoming</a></li>
              <!-- <li><a href="/votes">Votes</a></li> -->
              <li class="menu-links"><a href="/yours">Yours</a></li>
              <li class="menu-links"><a href="/create">Create</a></li>
            </ul>
          </div>
          <div class="header-menu col-2 text-right">
            <a href="{% url 'logout' %}">
              <button type="button" class="btn text-uppercase menu-button">Sign Out</button>
            </a>
          </div>
        </div>
      </div>
    </div>
    <div class="container mt-4">
      {% block content %}{% endblock %}
    </div>
  </header>
</body>
