{% extends "baking_rotation/base.jinja" %}

{% block content %}

<div>
  <form action='{% url 'create' %}' method='POST'>
    {% csrf_token %}
    <label for='item-name'>Watcha makin'</label>
    <input id='item-name' name='item' type='text'>

    <label for='slot-date'>When ya makin' it</label>
    <input id='slot-date' name='date' type='date'>

    <input type="submit" value='OK'>Upload</input>
  </form>
</div>

{% endblock %}
