{% extends "baking_rotation/base.jinja" %}
{% load static %}

{% block content %}
  <div class="row my-3">
    <div class="col-12">
      <div class="border-bottom pl-3 pb-3">
        <p>
          And look what's next:
        </p>
        <ul class="item-list">
          <li>
            When: {{ upcoming.date }}
          </li>
          <li>
            What: <a href="/bakery_rotation/details/{{ upcoming.id }}">{{ upcoming.item }}</a>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-12">
      <h3 class="text-center">Delicious Baked Good You Already Had!</h3>
    </div>
      {% for item in items %}
        {% if item.image %}
          <div class="col-3 my-2">
            <div class="grid-item border">
              <img src="{{ item.image.url }}" class="img-item">
              <div class="p-2">
                <div class="text-center font-weight-light font-italic">
                  <span>{{ item.item }}</span>
                </div>
                <div class="text-right pt-1">
                  <span class="baker-name">{{ item.baker }}</span>
                </div>
              </div>
            </div>
          </div>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% endblock %}
