{% extends "baking_rotation/base.jinja" %}

{% block content %}

<div>
  <h3>Delicious Baked Good Coming Soon!</h3>
  <span>
    When: {{ item.date }}
  </span>
  <span>
    What: <a href="/bakery_rotation/details/{{ item.id }}">{{ item.item }}</a>
  </span>
</div>

{% endblock %}
