{% extends "baking_rotation/base.jinja" %}

{% block content %}

{% if baking_list %}
  <ul>
    {% for item in baking_list %}
      <li><span>{{ date }}</span><a href="{% url 'details' item.id %}">{{ item }}</a></li>
    {% endfor %}
  </ul>
  {% else %}
  <p>There is no baking items :(</p>
{% endif%}

{% endblock %}
