{% extends "baking_rotation/base.jinja" %}

{% block content %}

<div>
  <h2>Your baked items:</h2>
  <ul>
  {% for baking_slot in user_baking_slots %}
    <li>
      <span>
         On {{ baking_slot.date }} you are making: {{ baking_slot.item }} !!
      </span>
      <span>Thanks {{ baking_slot.baker }}!! :)</span>
    </li>
  {% endfor %}
  </ul>

</div>

{% endblock %}
